Repository bellshade/bellshade-website: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write, eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

.lintstagedrc.json:

{
  "src/**/*.{css,scss}": [
    "stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix",
    "prettier --ignore-path .gitignore --write"
  ],
  "*.{json,js}": [
    "eslint --ignore-path .eslintignore '**/*.js' --quiet --fix",
    "prettier --ignore-path .eslintignore --write"
  ]
}

chore: try to use gh action to check pr
  .github/workflows/linters.yml
Due: none

fix: Memperbaiki navbar dan tagline
  index.html
Due: none

fix: menganti className tooltip
  index.html
  src/css/tooltip.css
  src/js/appendMember.js
Due: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write, eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

update: menganti className alignment up dan down
  src/css/tooltip.css
Due: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write

update: menganti className alignment up dan down
  src/js/appendMember.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

update: menghapus dependecy yang tidak diperlukan
  package-lock.json
  package.json
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

fix: Branch conflict
  src/css/tooltip.css
Due: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write

fix: comment duplicate navbar on index.html
  index.html
Due: none

fix: comment tippy.js yang tidak digunakan
  src/js/appendMember.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

remove the unused code
  src/js/appendMember.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

remove the unused code
  index.html
Due: none

fix: remove the unused code & duplicated code
  index.html
Due: none

fix: remove the unused code & duplicated code
  index.html
  src/js/appendMember.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

fix: remove the unused code & duplicated code (#55)
  index.html
  src/js/appendMember.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

feat: cd
  .github/workflows/cd.yml
Due: none

fix: memperbaiki duplikat dependencies dan package.json yang terdampak eslint
  .eslintignore
  package-lock.json
  package.json
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

fix: memindahkan api dari domain heroku ke domain org
  src/js/constant.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

chore: try to use gh action to check pr (#49)
  .github/workflows/linters.yml
Due: none

docs: Update page link
  README.md
Due: none

docs: Memperbarui URL git clone
  README.md
Due: none

Migrate api (#60)
  .eslintignore
  package-lock.json
  package.json
  src/js/constant.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

chore: add pull request trigger
  .github/workflows/cd.yml
Due: none

chore: fix branch name
  .github/workflows/cd.yml
Due: none

chore: automate build and deployment process (#58)
  .github/workflows/cd.yml
Due: none

docs: Update URL (#61)
  README.md
Due: none

chore: disable gh action on forked repo
  .github/workflows/cd.yml
  .github/workflows/linters.yml
Due: none

chore: disable gh action on forked repo (#63)
  .github/workflows/cd.yml
  .github/workflows/linters.yml
Due: none

chore: menghapus package-lock.json
  package-lock.json
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

fix: memperbaiki lint css
  src/css/style.css
  src/css/tooltip.css
Due: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write

chore: menambahkan ignore untuk lock file
  .gitignore
Due: none

fix: lockfile yang mengganggu cd (#64)
  .gitignore
  package-lock.json
  src/css/style.css
  src/css/tooltip.css
Due: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write, eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

build: remake bagian about
  index.html
  src/img/hero.png
  tailwind.config.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

build: remake bagian about
  index.html
  src/img/hero.png
  vite.config.js
Due: eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

build: menambahkan fitur dark mode
  index.html
  main.js
  package.json
  public/nav-logo-dark.png
  public/nav-logo-light2.png
  src/css/style.css
  src/js/appendMember.js
  tailwind.config.js
Due: stylelint --ignore-path .gitignore 'src/**/*.css' --quiet --fix, prettier --ignore-path .gitignore --write, eslint --ignore-path .eslintignore '**/*.js' --quiet --fix, prettier --ignore-path .eslintignore --write

build: update bagian footer
  index.html
Due: none
